{% extends "base.html" %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<p></p>
<br/>
<br/>
<p></p>
<br/>
    <section id="login" class="features-wrapper" style="padding:0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <a href="/user/login/"><i class="fa fa-chevron-left" aria-hidden="true" style="color:#3AD4A7;"></i></a>
                        </div>
                        <div class="form-group">
                            <img src="/static/images/img/main-logo.png" alt="COOSTA">
                        </div>
                        <hr>
                        <div class="form-group">
                            <p><b>Your password has been set.</b><br>You may go ahead and log in now.</p>
                        </div>
                        <br>
                        <div class="btn-wrapper">
                            <a href="/user/login/?next=/"><button type="button" class="btn button-1 gradient-bg three-sharp-edge-l" style="color:white;">LOGIN</button></a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
{% endblock content %}