Django==1.11.23
djangorestframework
django-lockdown
markdown
django-filter
mysql-python
pillow
requests
xmltodict
django-registration
django-debug-toolbar
rest_framework_custom_viewsets
boto
django-storages