{% extends "base.html" %}

{% block content %}
<div class="spa-heading">
    <h1 class="text-uppercase spa-heading-title"><b>CLOSING AGENT</b></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 spa-container">
            <div class="shadow-box-01 spa-container-panel">
                <p class="spa-container-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="/dashboard/" type="button" class="btn button-1 gradient-bg three-sharp-edge-l" style="color:white;"><b>BACK TO DASHBOARD</b></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12"></div>
        </div>
    </div>
</div>
<br>

{% endblock content %}